@model WebApplication1.Code.Models.Base.ClientModel

@{
    ViewBag.Title = "DeleteAccount";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div style="width:1000px; margin:0 auto;">
        <h3>

        Vymazanie úćtu</h3>
        <div class="container">
            <div>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Username)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Username)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Lastname)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Lastname)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Balance)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Balance)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Currency)
                    </dt>
                    <dd>
                        @Html.DisplayNameFor(model => model.Currency)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div style="width:1000px; margin:0 auto;">
        <p />
        <button type="submit" class="btn btn-default">Vymazať</button> |
        @Html.ActionLink("Naspať na zoznam", "Index")
        <p />
        <div class="message">@ViewBag.Message</div>
    </div>
}











