@model WebApplication1.Code.Models.Base.CurrencyModel

@{
    ViewBag.Title = "CreateCurrency";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div style="width:800px; margin:0 auto;">
        <div class="container">
            <div class="form-horizontal">
                <h2>Nová peňažná mena</h2>

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Currency, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Currency, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Currency, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <p> Aplikácia podporuje následovný zoznam peňažných mien. Pre vytvorenie zadajte jej skrátený tvar. Napríklad: EUR</p>
            <p>
                USD - US Dollar<br />
                EUR - Euro<br />
                GBP - British Pound<br />
                INR - Indian Rupee<br />
                AUD - Australian Dollar<br />
                CAD - Canadian Dollar<br />
                SGD - Singapore Dollar<br />
                CHF - Swiss Franc<br />
                MYR - Malaysian Ringgit<br />
                JPY - Japanese Yen<br />
                CNY - Chinese Yuan Renminbi
            </p>
        </div>
    </div>
    <div style="width:1000px; margin:0 auto;">
        <p />
        <button type="submit" class="btn btn-default">Vytvoriť</button> |
        @Html.ActionLink("Naspať na zoznam", "Index")
        <p />
        <div class="message">@ViewBag.Message</div>
    </div>
}